<aside class="w-64 min-h-screen bg-gray-100 p-4">
  <nav class="flex flex-col gap-4">
    <a routerLink="/" routerLinkActive="font-bold text-indigo-600">{{
      "home" | translate
    }}</a>
    <div>
      <span class="block mb-1 text-gray-600 font-semibold"
        >⚙️ {{ "settings" | translate }}</span
      >
      <ul class="ml-4 space-y-1 text-sm">
        <li>
          <a
            routerLink="/invoices/invoice-template"
            routerLinkActive="font-bold text-indigo-600"
            >🧾 {{ "invoiceTemplates" | translate }}</a
          >
        </li>
        <li>
          <a
            routerLink="/settings/email-template"
            routerLinkActive="font-bold text-indigo-600"
            >📧 {{ "emailTemplates" | translate }}</a
          >
        </li>
        <li>
          <a
            routerLink="/settings/other"
            routerLinkActive="font-bold text-indigo-600"
            >🔧 {{ "other" | translate }}</a
          >
        </li>
      </ul>
    </div>
  </nav>
</aside>
